<div class="m-3">
  <form>
    <div class="jumbotron mega-background jumbotron-padding-fix">
      <h1 class="display-4">
        <small style="background: aliceblue;">MEGALINKS ARCHIVE</small>
      </h1>
      <p class="lead">
        Contains archives from
        <a
          href="https://reddit.com/r/megalinks"
          target="_blank"
          style="color: gold !important; text-decoration: underline;"
          >reddit.com/r/megalinks</a
        >
        subreddit <span style="color: aliceblue;">.</span>
      </p>
      <hr class="my-4" />
      <p class="color-white" style="text-align: center;">
        Already have an account?
      </p>
      <div style="text-align: center;">
        <button
          class="btn btn-primary"
          (click)="openModal(loginModal, 'modal-dialog-centered')"
        >
          LOGIN
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-form-label col-form-label-lg"
        >Email address</label
      >
      <input
        type="email"
        class="form-control form-control-lg"
        id="exampleInputEmail1"
        autocomplete="off"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
        placeholder="example@mega.nz"
        name="email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
      <small id="emailHelp" class="form-text text-muted badge"
        >EMAIL | <span class="text-primary">{{ email }}</span></small
      >
    </div>
    <div class="form-group">
      <label
        for="exampleInputPassword1"
        class="col-form-label col-form-label-lg"
        >Password</label
      >
      <input
        type="password"
        name="pass"
        class="form-control form-control-lg"
        id="exampleInputPassword1"
        [(ngModel)]="password"
        placeholder="Password"
      />
    </div>
  </form>
  <button class="btn cust-btn" (click)="signUp()">
    <strong>le'me explore MEGA</strong>
  </button>
  <ng-template #errorModal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title pull-left" style="color: coral;">
        {{ errorMessage.header }}
      </h4>
    </div>
    <div class="modal-body" style="text-align: center;">
      <ng-template [ngTemplateOutlet]="errorMessage.template"></ng-template>
    </div>
  </ng-template>

  <ng-template #loginModal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title pull-left">Login</h4>
    </div>
    <div
      class="relative-backdrop"
      [ngClass]="{ 'show-backdrop': userExistError }"
    ></div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label
            for="exampleInputEmail1"
            class="col-form-label col-form-label-lg"
            >Email address</label
          >
          <input
            type="email"
            class="form-control form-control-lg"
            id="exampleInputEmail1"
            autocomplete="off"
            aria-describedby="emailHelp"
            [(ngModel)]="email"
            placeholder="example@mega.nz"
            name="email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
          <small id="emailHelp" class="form-text text-muted badge"
            >EMAIL | <span class="text-primary">{{ email }}</span></small
          >
        </div>
        <div class="form-group">
          <label
            for="exampleInputPassword1"
            class="col-form-label col-form-label-lg"
            >Password</label
          >
          <input
            type="password"
            name="pass"
            class="form-control form-control-lg"
            id="exampleInputPassword1"
            [(ngModel)]="password"
            placeholder="Password"
          />
        </div>
      </form>
      <div style="text-align: center;">
        <button class="btn cust-btn" (click)="logIn()">
          <strong>le'me explore MEGA</strong>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #signUpError>
    <p>
      Please
      <strong style="cursor: pointer;" (click)="handleAuthEvents('login')"
        ><code>Login</code></strong
      >
      /
      <strong style="cursor: pointer;" (click)="handleAuthEvents('signup')"
        ><code>Sign-up</code></strong
      >
      with different e-mail
    </p>
  </ng-template>

  <ng-template #loginError>
    <markdown
      [popover]="email"
      triggers="mouseenter:mouseleave"
      data="**`User`** might not exist / **`Password`**  doesn't match."
    >
    </markdown>
  </ng-template>
</div>
